.collection-page {
  display: flex;
  background-color: rgb(0, 0, 8);
  padding: 30px;
  gap: 25px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  color: white;
  width: 100%;
  border-radius: 12px;
}

.genre-filter {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  justify-content: center;
}

.genre-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  font-size: medium;
  border-radius: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.genre-button.active {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  transform: translateY(-2px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.genre-button:hover {
  background-color: #ffffff;
  color: black;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.main-content {
  background-color: rgb(10, 10, 25);
  border-radius: 12px;
}

.main-content .wishlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  margin-left: 40px;
}

.wishlist .moviecard {
  flex: 1 1 calc(25% - 30px); 
  max-width: calc(25% - 30px);
}

.wishlist .moviecard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar {
  width: 242px;
  background-color: #050c22;
  color: white;
  padding: 28px;
  border-radius: 16px;
  margin-top: 30px;
  position: sticky;
  top: 20px;
  height: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  max-height: 85vh;
}

.sidebar h4 {
  font-size: 1.4em;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.filter-links {
  list-style-type: none;
  padding: 0;
}

.filter-links li {
  padding: 10px 20px;
  cursor: pointer;
  font-size: medium;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.filter-links ol {
  padding: 10px 20px;
  font-size: medium;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 10px;
  color: #000;
}

.filter-links li:hover {
  background-color: #ffffff;
  color: black;
  padding-left: 25px;
  transition: all 0.3s ease;
}

.filter-links li.active {
  background-color: #ffffff;
  color: black;
  padding-left: 25px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.3s ease;
}

