.movie-info {
    position: relative;
    height: auto;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 8);
    color: white;
    overflow: hidden;
}

.movie-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    z-index: 0;
}

.movie-info>* {
    position: relative;
    z-index: 1;
}

.movie-deatil1 {
    /* border: 2px solid rgb(255, 255, 255); */
    width: 80%;
    height: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    fill-opacity: unset;
    margin-top: 50px;
    /* justify-content: center; */
}

.movie-poster {
    width: 25%;
    margin: 0 5px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-poster:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.movie-content {
    /* border: 2px solid rgb(255, 255, 255); */
    width: 80%;
    margin: 0 5px;
    background-color: rgba(8, 8, 8, 0.549);
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-content {
    font: bolder;
    min-height: 30px;
    color: #ff5757;
    margin: 5px 5px;
    margin-left: 50px;

}

.movie-content div {
    font: bolder;
    min-height: 30px;
    color: #ff5757;
    margin: 5px 5px;
    margin-left: 50px;
}

.movie-content h2 {
    font: bolder;
    min-height: 30px;
    color: #ff5757;
    margin: 5px 5px;
    margin-left: 50px;
}

.movie-content h3 {
    font: bolder;
    min-height: 30px;
    color: #ff5757;
    margin: 5px 5px;
    margin-left: 50px;
}

.movie-content h1 {
    font-size: 30px;
    min-height: 30px;
    color: #ff5757;
    margin: 5px 5px;
    margin-left: 50px;
}

.movie-content span {
    color: white;
}

.imdb {
    color: rgb(255, 187, 0);
}

.genres span {
    background-color: #ffffff49;
    margin: 0 5px 0 0;
    padding: 5px;
    line-height: 48px;
    border-radius: 48px;
    min-width: 100px;
    display: inline;
    font-size: large;
    font-weight: bolder;
}


.rentbutton {
    background-color: #ffffff;
    line-height: 25px;
    border-radius: 25px;
    min-width: 100px;
    font-size: larger;
    padding: 5px;
    margin: 10px 15px 0 0;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.savebutton {
    line-height: 25px;
    border-radius: 25px;
    min-width: 100px;
    font-size: larger;
    padding: 5px 10px;
    margin: 10px 5px 0 0;
    border: 1px solid #ff5757;
    background-color: #ff5757;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rentbutton:hover,
.savebutton:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.likebutton {
    font-size: 30px;
    background: none;
    /* padding: 10px; */
    border: none;
    cursor: pointer;
}

.likebutton:hover {
    transform: scale(1.5);
    transition: transform .7s ease-in-out
}

.movie-deatil2 {
    /* border: 2px solid rgb(255, 255, 255); */
    width: 75%;
    height: auto;
    margin-top: 10px;
    background-color: rgba(8, 8, 8, 0.549);
    align-items: center;
    border-radius: 20px;
    padding: 20px 0;

}

.movie-deatil2 h1 {
    margin: 5px 20px;
    align-self: flex-start;
}

.movie-deatil2 h3 {
    margin: 5px 20px;
    align-self: flex-start;
    color: white;
}

.trailer-box {
    height: 500px;
    width: 60%;
    margin: 30px 0;
    /* background-color: rgba(3, 10, 19, 0.434); */
    border: 1px solid rgb(255, 255, 255);
    /* border-radius: 5px; */
}

.castandcrew {
    height: 300px;
    width: 80%;
    display: flex;
    font-weight: bolder;
    justify-content: center;

}

.cast {
    height: 90%;
    width: 35%;
    border-radius: 20px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(8, 8, 8, 0.549);
}

.cast div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}

.cast h4 {
    /* height: 50px; */
    min-width: 20%;
    background-color: rgba(6, 6, 6, 0.488);
    margin: 3px 10px;
    text-align: justify;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    line-height: 20px;
    border-radius: 20px;
}

.cast h2 {
    /* padding-left: 20px; */
    padding-bottom: 10px;
    margin-left: 10%;
    color: #ff5757;
}

.cast h1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(151, 146, 140, 0.355);
}


.crew {
    height: 90%;
    width: 35%;
    border-radius: 20px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(8, 8, 8, 0.549);
}

.crew span {
    width: 70px;
    font-size: larger;

}

.crew div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;

}

.crew h4 {
    min-width: 20%;
    background-color: rgba(6, 6, 6, 0.488);
    margin: 3px 15px;
    text-align: justify;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    line-height: 20px;
    border-radius: 20px;
}

.crew h2 {
    padding-bottom: 10px;
    margin-left: 10%;
    color: #ff5757;
}

.loading-div {
    width: 100%;
    height: 85vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loading-div img {
    width: 10%;
    height: auto;
}